.MainWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.Items {
  display: flex;
  flex: 1;
}
.ListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  border-radius: 1000px;
  margin: 0 20px;
}
.ListItem:hover {
  background-color: #f3f3f3;
}
.ListItem a {
  text-decoration: none;
}
.UserState {
  display: flex;
  justify-content: space-around;
  flex: 1;
}
.LinkTitle {
  padding: 0 10px;
  color: black;
  text-align: center;
}
