@font-face {
  font-family: Poppins;
  src: url(Poppins-Medium.ttf);
}
* {
  font-family: Poppins;
}
body {
  margin: 0;
}
.AppWrapper {
  position: relative;
  height: 200vh;
  margin: auto;
}
.class1 {
  position: relative;
  height: 100vh;
}
.Content {
  height: 80vh;
}
.active {
  background-color: #f3f3f3;
}
