.Question {
    font-size: 22px;
    font-weight: 400;

}

.QuestionPageWrapper {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    padding-top:2% ;

}

.ArrowButton {
    font-size: 40px;
}

.numberDiv {
    width: 70px;
}

.numberDiv h1 {
    font-size: 20px;
    font-weight: 400;
}

.details {

    width: 80%;
}

.details h1 {
    color: #0D4C92;

}